<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Schools</h1>

    {% for school in schools %}
        <span>{{school.id}} - {{school.name}} - {{school.director.name}}</span><br><br>
    {% endfor %}

    <h3>School amount: {{school_amount}}</h3>



    <!-- <h1>Directors</h1>

    {% for director in directors %}
        <span>{{director.id}} - {{director.name}}</span><br><br>
    {% endfor %}

    <h3>Directors amount: {{director_amount}}</h3> -->

</body>
</html>

